@model User;

@{
    Layout = null;
    ViewData["Title"] = "Login Page"; // goes to the layout
}

<form method="post" asp-action="Login">
    <div class="mb-3">
        <label asp-for="name"></label>
        <input asp-for="name" />
    </div>
    <div class="mb-3">
        <label asp-for="lastName"></label>
        <input asp-for="lastName" />
    </div>
    <button type="submit">Login</button>
</form>